 
.black-5 a, .black-5 a:hover {
  color: #fff !important;
  font-weight: bold;
}
/*** General ***/

.black-5.pop-up-cc {
  color: #fff;  
}
.black-5 .modal-inner {
  background: #090909;
  font-family: 'Open Sans', sans-serif;
}

/*** Close Button ***/

.black-5 .cc-pu-close {
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background: #fff !important;
}
.black-5 .cc-pu-close i {
  color: #090909;
}

/*** Headers ***/

/*** Primary ***/

.black-5 .modal-inner h2 {
  text-transform: uppercase !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 2.5em !important;
  line-height: 1.1 !important;
  margin: 12px 0 0.92857em !important;
  font-family: 'Oswald', sans-serif !important;
}

/*** Secondary ***/

.black-5 .modal-inner h3 {
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 1.42857em !important;
  line-height: 1.5em !important;
  font-weight: 400 !important;
  font-family: 'Oswald', sans-serif !important; 
}

/*** Content ***/

.black-5 .modal-inner p {
  color: #989898 !important;
  font-family: 'Open Sans', sans-serif !important;
}

/*** Privacy ***/

.black-5 .cc-pu-privacy-info a {
  color: #989898 !important;
  border-bottom: 1px solid #989898 !important;
}

/*** Form ***/

.black-5 .cc-pu-form-control {
  border: 1px solid #090909 !important;
  background: #fff !important;
  font-family: "Open Sans", sans-serif !important;
}
.black-5 .cc-pu-smart-form .cc-pu-btn, .black-5 .cc-pu-smart-form .cc-pu-btn:hover {
  background: #000 !important;
  color: #fff !important;
  padding: 0 35px !important; 
  font-weight: 700;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase !important; 
}

.pop-up-cc .cc-pu-thank-you {
    background-color: #fff;
}
.pop-up-cc .cc-pu-thank-you p{ 
	color:#000 !important;
}

.pop-up-cc .cc-pu-thank-you:after {  
     border-top: 8px solid #fff; 
}

@media only screen and (min-width: 768px) {
	  

   .pop-up-cc  .cc-pu-thank-you:after {  
      border-bottom: 8px solid #fff; 
	  border-top: none;	  	
    }
}
