/*** Base ***/

.white-5 a, .white-5 a:hover {
  color: #000 !important;
  font-weight: bold;
}
/*** General ***/

.white-5 .modal-inner {
  background: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

/*** Close Button ***/

.white-5 .cc-pu-close {
	right: 0;
  top: 0;
  background-color: #fff;
}
.white-5.chch-free-big .cc-pu-close {
  width: 45px;
  height: 45px;
  padding: 12px 0 0 0 !important;
}
.white-5.chch-free-small .cc-pu-close {
  width: 30px;
  height: 30px;
  padding: 5px 8px !important;
}
.white-5 .cc-pu-close i {
  color: #000;
}

/*** Headers ***/

/*** Primary ***/

.white-5 .modal-inner h2 {
  text-transform: uppercase !important;
  color: #000 !important;
  font-weight: 700 !important;
  font-family: 'Oswald', sans-serif !important;
}
.white-5.chch-free-big .modal-inner h2 {
  font-size: 2.5em !important;
  line-height: 1.2em !important;
  margin: 12px 0 0.92857em !important;
}
.white-5.chch-free-small .modal-inner h2 {
	font-size: 2.1em !important;
  line-height: 1.2em !important;
  margin: 0.85714em 0 1em 0 !important;
}

/*** Secondary ***/

.white-5 .modal-inner h3 {
  text-transform: uppercase !important;
  color: #000 !important;
  font-weight: 300 !important;
  font-family: 'Oswald', sans-serif !important;
}
.white-5.chch-free-big .modal-inner h3 {
  font-size: 1.42857em !important;
  line-height: 1.5em !important;
}
.white-5.chch-free-small .modal-inner h3 {
	font-size: 1.4em !important;
  line-height: 1.3em !important;
}

/*** Content ***/

.white-5 .modal-inner p {
  color: #000 !important;
  font-family: 'Open Sans', sans-serif !important;
  margin: 1.78571em 0 13px !important;
  padding: 0!important;
}

/*** Privacy ***/

.white-5 .cc-pu-privacy-info a {
  color: #000;
  border-bottom: 1px solid #989898!important;
}
.white-5 .cc-pu-privacy-section p {
	margin: 0!important;
}

/*** Form ***/

.white-5 .cc-pu-form-control {
  border: 1px solid #E0E0E0 !important;
  background-color: #fff !important;
  font-family: "Open Sans", sans-serif !important;
}
.white-5 .cc-pu-smart-form .cc-pu-btn, .white-5 .cc-pu-smart-form .cc-pu-btn:hover {
  background: #000 !important;
  color: #fff !important;
  padding: 0 35px !important;
  font-weight: 700 !important;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase !important;
}

.pop-up-cc .cc-pu-thank-you {
    background-color: #000;
}
.pop-up-cc .cc-pu-thank-you p{
	color:#fff !important;
}

.pop-up-cc .cc-pu-thank-you:after {
     border-top: 8px solid #000;
}

@media only screen and (min-width: 768px) {


   .pop-up-cc  .cc-pu-thank-you:after {
      border-bottom: 8px solid #000;
	  border-top: none;
    }
}
