/*** Base ***/

.white-5 a, .white-5 a:hover {
  color: #000;
  font-weight: bold;
}
/*** General ***/

.white-5.pop-up-cc {
  color: #fff;  
}
.white-5 .modal-inner {
  background: #090909;
  font-family: 'Open Sans', sans-serif;
}

/*** Close Button ***/

.white-5 .cc-pu-close {
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background-color: #fff;
}
.white-5 .cc-pu-close i {
  color: #090909;
}

/*** Headers ***/

/*** Primary ***/

.white-5 .modal-inner h2 {
  text-transform: uppercase !important;
  color: #000 !important;
  font-weight: 700 !important;
  font-size: 2.5em !important;
  line-height: 1.1 !important;
  margin: 12px 0 0.92857em !important;
  font-family: 'Oswald', sans-serif !important;
}

/*** Secondary ***/

.white-5 .modal-inner h3 {
  text-transform: uppercase !important;
  color: #000 !important;
  font-size: 1.42857em !important;
  font-weight: 400 !important;
  font-family: 'Oswald', sans-serif !important;
}

/*** Content ***/

.white-5 .modal-inner p {
  color: #000 !important;
  font-family: 'Open Sans', sans-serif !important;
}

/*** Privacy ***/

.white-5 .cc-pu-privacy-info a {
  color: #000;
  border-bottom: 1px solid #989898;
}

/*** Form ***/

.white-5 .cc-pu-form-control {
  border: 1px solid #E0E0E0 !important;
  background-color: #fff !important;
  font-family: "Open Sans", sans-serif !important;
}
.white-5 .cc-pu-smart-form .cc-pu-btn {
  background-color: #000;
  color: #fff;
  padding: 12px 35px 13px 35px;
  top:5px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

.pop-up-cc .cc-pu-thank-you {
    background-color: #000;
}
.pop-up-cc .cc-pu-thank-you p{ 
	color:#fff;
}

.pop-up-cc .cc-pu-thank-you:after {  
     border-top: 8px solid #000; 
}

@media only screen and (min-width: 768px) {
	  

   .pop-up-cc  .cc-pu-thank-you:after {  
      border-bottom: 8px solid #000; 
	  border-top: none;	  	
    }
}
